{% extends 'base.html' %}
{% load humanize %}

{% block content %}


<style>
   

    #total_amount {
        width: 200px;
        
    }


  
    
</style> 
<!-- <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>



<form class="form" action="{% url 'inventorylist' %}" method ="GET">
    <!-- {% csrf_token %} -->
    <div class="container mt-3">
        <input type="text"
        name='Inventory_id'
        
        placeholder="Inventory ID"
        value="{{request.GET.Inventory_id}}"
        />   

        <input type="text"
        name='equipment_id'
        
        placeholder="Equipment ID"
        />   

        <label for="DateFrom">Date From</label>

        <input type="date"
        name='date_from'
        value="{{request.GET.date_from}}"
        
        />   

        <label for="DateTo">Date To</label>

        <input type="date"
        name='date_to'
        value="{{request.GET.date_to}}"
        
        />   

       
        
       
        
        <!-- <select name="Equipment" id="Equipment">

            {% for result in sequenceList2 %}
                <option value="{{ result.equipment_id }}">{{ result.equipment_id }}</option>
            {% endfor %} 
           

        </select>  -->


        <button type="submit" class="btn btn-secondary"><i class="fas fa-database"></i>Search</button>


        {% comment %} <button href="{% url 'export-excel' %}" type="button" class="btn btn-danger">
            <i class="fas fa-database"></i>Export Excel</button>  {% endcomment %}

        <a href="{% url 'export-excel' %}?Inventory_id={{request.GET.Inventory_id}}&equipment_id={{request.GET.equipment_id}}&date_from={{request.GET.date_from}}&date_to={{request.GET.date_to}}">Export Excel</a>
    </div>
    <div class="container mt-3">
        
            {% comment %} <input class="text-white bg-primary" type="text"
            name='total_amount'
            style="height:100px;width: 190px"
            {% for i in inventoryList2 %}
                {{i.inventory_amount}}
            
            {% endfor %}
            />   {% endcomment %}
        
      <p>

        {% comment %} {% for i in inventoryList2%}
        {{i.inventory_amount}}
        {% endfor %} {% endcomment %}
      </p>

    </div>
    <div class="container mt-3">
        <table class="table table-borderless" id="inventoryList_table">
            <thead class="border-bottom font-weight-bold">

                    <td>Date</td>
                    <td>ID</td>
                    <td>Inventory ID</td>
                    <td>Quantity</td>
                    <td>Unit</td>
                    <td>Price</td> 
                    <td>Amount</td> 
                    <td>Equipment</td> 
                </tr>
            </thead>
            <tbody>
                {% for list in inventory_list%}
    
                    <tr>
                        <!-- <td>{{list.transactions_inventory.trans_date}}</td> -->
                        <td>{{list.trans_date}}</td>
                        <td>{{list.id}}</td>
                        <td>{{list.inventory_id}}</td>
                        <td>{{list.quantity}}</td>
                        <td>{{list.unit_measurement}}</td>
                        <td>{{list.inventory_price|floatformat:2|intcomma}}</td>
                        <td id="inventoryAmount">{{list.inventory_amount|floatformat:2|intcomma}}</td>
                        <td>{{list.equipment}}</td>
                        
                        <!-- <td>
                            <a href=""
                            <button type="button" class="btn btn-primary">
                            <i class="fas fa-database"></i> Edit</button></a>
                        </td> -->
                        <td>
                            
                            <!-- <a href="{% url 'equipmentDelete' list.id%}"method="POST">
                                <button type="button" class="btn btn-danger"><i class="fas fa-database"></i> Delete</button>   
                            </a> -->
                        </td>
                        

                        
                    </tr>
                    {% empty %}
                        <p>
                            No Record found click add new Button
                        </p>
                       
                   
                {% endfor %}

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{total|floatformat:2|intcomma}}</td>
                </tr>
              
            </tbody> 
        </table>
    </div>

    <!-- <script>
        // $(document).ready(function()
        // {
            
    
        //     // $('td:nth-child(7)').each(function()
        //     // {
        //     //     emp_amount=$(this).html();
        //     //     total+= parseFloat(emp_amount);
               
        //     //     $('#Total_amount').text(total);
        //     //     console.log(total)
    
        //     // }
        //     // );
      
    
    


        
       
    
        // });


        $(document).ready(function(){
                var sum = 0;
                var quantity = 0;
                var singleProduct,singleQuantity;

                $('.Total_amount').each(function() {
                singleProduct = parseFloat($(this).val());
                console.log('wala');
                });
        });

     </scrip> -->


   <!-- <script>
       $(document).ready(function () {
        $('tr').each(function () {
            var sum = 0
            $(this).find('#inventoryAmount').each(function () {
            var combat = $(this).text();
            
            
            console.log(sum)
            if (!isNaN(combat) && combat.length !== 0) {
                sum += combat;
                console.log(sum)
            }
            });
            $('#Total_amount', this).html(sum);
            // console.log(sum)
        });
        });
   </script> -->
   <script>
       $(document).ready(function()
        {
            var emp_amount;
            var total = 0
            $('td:nth-child(7)').each(function()
            {
                emp_amount=$(this).html();
                console.log(emp_amount)
                total+= parseFloat(emp_amount);
                // console.log(total)
                // $('#Total_amount').text(total);
                // console.log(total)

            });
        });
   </script>


   <!-- <script  type="text/javascript">
           var table = document.getElementById('inventoryAmount'),sumValue =0;
           console.log(table)

           for (var i = 1; i <table.rows.length; i++)
           {
               sumValue = sumValue + parseInt(table.rows[i].cells[7].innerHTML);
           }
           console.log(sumValue)
   </script>
    -->

    

</form>
{% endblock %}