{% extends 'base.html' %}

{% block content %}

<style>
    .modal-lg {
        max-width: 75% !important;
    }
</style>

<!-- this is for searching inventory list-->
        <forms class='form'
            <div  class="container mt-3" >
                <button class="btn btn-success btn-lg " data-toggle="modal" data-target="#modalForm">
                    Serach for Inventory
                </button>
            </div><br>

            <div >
                <div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document" >
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Inventory </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body"  >
                        <select id="myCategory_inv" name="myCategory_inv" onchange="get_by_category()">
                            <option value="">---</option>
                            <option value="1">Tires</option>
                            <option value="2">Oil & Lubricants</option>
                            <option value="3">Mechanical Parts</option>
                            <option value="4">Office Supplies</option>
                            <option value="5">Tools Supplies</option>
                            <option value="6">Others Supplies</option>
                        
                        </select>
                        
                        <button type="submit" name ="buttonsearch" id = "buttonsearch"class="btn btn-primary">Search</button>
                        
                        <div class="container mt-3">
                            <table class="table table-borderless" id="inventoryList_table">
                                <thead class="border-bottom font-weight-bold">
                    
                                    <tr>    
                                        
                                    <td>ID</td>
                                    <td>Inventory ID</td>
                                    <td>Brand</td>
                                    <td>Item Description</td>
                                    <td>Quantity</td> 
                                    <td>Equipment</td> 
                                    
                                    </tr>
                                </thead>
                                <tbody id="category">
                                    
                                
                                </tbody> 
                            </table>
                        </div>
            
                         
                
        
                        </div>
                        <div class="modal-footer">
                            {% comment %} <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" name ="buttonSave" id = "buttonSave"class="btn btn-primary">Save</button> {% endcomment %}
                        </div>
                        </div>
                    </div>
                </div>
                     
            </form>



    <!-- this is for inventory transaction -->
    <form action="{% url 'insert-inventory-in' %}" method="GET">

        <div  class="container mt-2"><br>
            <label for="Inventory Date" >Date</label>
    
                <!-- <select name="clients_name_inv" id="clients_name_inv" class="filter-selectbox" >
                    
                    {% for result in showclients %}
                        <option value="{{ result.customer_name }}">{{ result.customer_name }}
                        </option>
                    {% endfor %} 
                
                </select> -->
                <input
                type="date"
                name="inventory_date"
                id="inventory_date"
                size="30"
                value="{{request.GET.get.inventory_date}}"
                >
                </input>

                <label for="Sales Invoice" >Sales Invoice</label>

                <input
                type="text"
                name="sales_invoice"
                id="sales_invoice"
                size="15"
                value="{{request.get.sales_invoice}}"
                >
                </input>
                
                <label for="Supplier" >Supplier</label>

                <input
                type="text"
                name="supplier"
                id="supplier"
                size="40"
                >
                </input>
                
                
                <br>
                 
    
            
            
            <label for="Transaction Type" >Transaction Type</label>
                <select id="transType" name="transType" onchange="alert('hi')"
               >
                    <option value="">---</option>
                    <option value="1">In</option>
                    <option value="2">Out</option>
                
                </select> 

            <label for="MRS" >MRS</label>
                <input
                    type="text"
                    name="mrs"
                    id="mrs"
                    size="17"
                    >
                </input>
            <label for="Requested By" >Requested By</label>
                <input
                    type="text"
                    name="requested_by"
                    id="requested_by"
                    size="17"
                    >
                </input><br>

               
        </div>
        <div>
            <div class="container mt-3">
                <table class="table table-borderless">
                    <thead class="font-weight-bold">
                        <tr>
                            
                            <td>Inventory ID</td>
                            <td>Brand</td>
                            <td>Category Type</td>
                            <td>Item Descriptions</td>
                            <td>Quantity</td>
                            <td>Unit</td>
                            <td>Price</td>
                            <td>Amount</td>
                            <td>Equipment</td>
                        
                            <td>
                                <button type="button"  id="add_button" class="btn btn-primary"><i class="fas fa-database">
                                </i>Add</button>
                            </td>

                        
                        </tr>
                    </thead>
                    <tbody id="addrow">
                        
                        
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container mt 1">
            <button type= "submit" class="btn btn-primary">Save</button>
        </div>
    </form>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>

    <script type="text/javascript">
        function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            const csrftoken = getCookie('csrftoken');

            // Setting the Click Event Listener on the Submit Button
            $(document).ready(function(){
                var maxField = 10; //Input fields increment limitation
                var addButton = $('#add_button'); //Add button selector
                var wrapper = $('#addrow'); //Input field wrapper
                var x = 0; //Initial field counter is 1
                
                //Once add button is clicked
                $(addButton).click(function(){
                    //Check maximum number of input fields
                    x++; //Increment field counter
                    var fieldHTML = `<tr>
                    <td>
                        <input type=text hidden id="row_count" value=${x} />
                        <input
                            type="text"
                            name="inventory_id_in"
                            id="inventory_id_in${x}"
                            class="inventory_id_in"
                            size='7'
                            onchange=get_transactions(${x})
                        >
                        </input
                          
                    </td>

                    <td>
                        <input
                            type="text"
                            name="brand"
                            id="brand${x}"
                            class="brand"
                            size='10'
                            onchange=myFunction()
                        >
                        </input
                    </td>

                    <td>
                        <select id="myCategory${x}" name="myCategory">
                            <option value="">---</option>
                            <option value="1">Tires</option>
                            <option value="2">Oil & Lubricants</option>
                            <option value="3">Mechanical Parts</option>
                            <option value="4">Office Supplies</option>
                            <option value="5">Tools Supplies</option>
                            <option value="6">Others Supplies</option>
                           
                        </select>
                    </td>

                    <td>
                        <input
                            type="text"
                            name="itemdescriptions"
                            id="itemdescriptions${x}"
                            class="itemdescriptions"
                            size='15'
                            
                        >
                        </input
                    </td>

                    <td>
                        <input
                            step="0.01"
                            type="number"
                            name="quantity"
                            id="quantity${x}"
                            style="width: 5em"
                            class="quantity"
                            onchange="myFunction2(${x})"
                            
                        >
                        </input
                        
                    </td>

                
                    

                    <td>
                        <input
                            type="text"
                            name="unit"
                            id="unit${x}"
                            class="unit"
                            size='7'
                        >
                        </input
                    </td>

                    <td>
                        <input
                        
                            type="number"
                            name="price"
                            id="price${x}"
                            class="price"
                            style="width: 5em"
                            onchange="myFunction2(${x})"
                        >
                        </input
                        
                    </td>

                    <td>
                        <input
                            
                            type="number"
                            name="amount"
                            id="amount${x}"
                            class="amount"
                            style="width: 8em"
                            
                            
                        >
                        </input
                        
                    </td>
                    <td>
                        <select name="Equipment" id="Equipment${x}"class="filter-selectbox">

                            {% for result in sequenceList %}
                                
                                <option value="{{ result.equipment_id }}">{{ result.equipment_id }}</option>
                            {% endfor %} 

                        </select> 
                    </td>
                    <td>
                        <button type="button"  id="remove_button" class="btn btn-danger"><i class="fas fa-database">
                        </i>Remove</button>
                    </td>
                    </tr> `; //New input field html 
                    $(wrapper).append(fieldHTML); //Add field html
                    
                });
                
                //Once remove button is clicked
                $(wrapper).on('click', '#remove_button', function(e){
                    e.preventDefault();
                    $(this).closest('tr').remove(); //Remove field html 
                    myFunction();
                    x--; //Decrement field counter
                });
            });
       


    </script>

    <!-- <script>
        function myFunction() {
        let elements = [...document.getElementsByName('BalanceSheetType')];
        let sum = 0.0;
        console.log(elements)
        elements.forEach((el) => {
            let myID = (el.id).replace('BalanceSheetType', '');
        
        
            })
        
        }
        
    </script> -->
    <script>
        function get_by_category(){
            let x = document.getElementById('myCategory_inv').value
                $.ajax( 
                { 
                    type:"GET", 
                    url: "{% url 'api-by-category' %}",
                    data: {
                        val: x
                    },
                
                error: function(e){
                    console.log(e)
                },
                success: function( response ) 
                {
                    data = response.data
                    console.log(data)
                    document.getElementById('category').innerHTML = ""
                    data.forEach(c => {
                        console.log(c)
                        
                        document.getElementById('category').innerHTML += `
                        
                            <tr id="${c['id']}">
                                <td>${c['id']}</td>
                                <td>${c['inventory_id']}</td>
                                <td>${c['brand']}</td>
                                <td>${c['item_description']}</td>
                                <td>${c['quantity']}</td>
                                <td>${c['equipment']}</td>
                            </tr>
                            
                            
                        `
                        $("#category tbody").append(
                            // `
                            // <tr id="${c['id']}">
                            //     <td style="width: 200px;">${c['id']}</td>
                            //     <td style="width: 170px;">${c['brand']}</td>
                            //     <td style="width: 180px;">${c['item_description']}</td>
                            // </tr>
                            // `
                            // )

                        )
                    });
                 
                } })
        }
    </script>
    <script>
        function get_transactions(i){
            let x = document.getElementById('inventory_id_in'+i).value
            if (x.length == 8){
                setTimeout(() =>
                $.ajax( 
                { 
                    type:"GET", 
                    url: "{% url 'api-transactions' %}",
                    data: {
                        val: x
                    },
                
                error: function(e){
                    console.log(e)
                },
                success: function( response ) 
                {
                    data = response.data
                    console.log(data)
                    document.getElementById('brand' + i).value = data.brand
                    document.getElementById('itemdescriptions' + i).value = data.item_description
                    document.getElementById('myCategory' + i).value = data.category_inv
                    document.getElementById('price' + i).value = data.inventory_price
    
                    // data.forEach(el => {
                    //     console.log(el)
                    //     $("#lesson-taken-table tbody").prepend(
                    //         `
                    //         <tr>
                    //             <td style="width: 200px;">${el['lesson']['name']}</td>
                    //             <td style="width: 170px;">${el['lesson']['subject']['name']}</td>
                    //             <td style="width: 180px;">${el['lesson']['instructor']['name']}</td>
                    //         </tr>
                    //         `
                    //         )
                    // });
                 
                } }), 900);
            }
        }
    </script>
    <script>
         function myFunction2(i) {
                let q = document.getElementById('quantity' + i).value;
                let r = document.getElementById('price' + i).value;
                let a = document.getElementById('amount'+ i);

                amount = q * r;
                // myFunction();
                // myFunction1()
                console.log(amount);
                a.value = parseFloat(amount).toFixed(2);
            }
      
        
    </script>   
    <script>
        function myFunction1(i){
            var b = document.getElementById('amount' + i).value;
            var numUSD = new Intl.NumberFormat("en-US")
        
    
        }
        
    </script>

{% endblock %}